CHANNEL=PalestineResist

LOCALE=en
TIMEZONE=America/New_York

TELEGRAM=PalestineResist


#FOOTER_INJECT=FOOTER_INJECT
#HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_PROJECT=

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
